type mdl_data_file, file_type, data_file_type;
type stpwmt_device, dev_type;
type logtemp_data_file, file_type, data_file_type;
type logmisc_data_file, file_type, data_file_type;
type aee_dumpsys_data_file, file_type, data_file_type;
type aee_exp_data_file, file_type, data_file_type;
type aee_core_data_file, file_type, data_file_type;
type agpsd_data_file, file_type, data_file_type;
type nvram_media_data_file, file_type, data_file_type;
type nvram_bluetooth_data_file, file_type, data_file_type;
type nvram_data_file, file_type, data_file_type;
type touchpanel_data_file, file_type, data_file_type;
type mnld_data_file, file_type, data_file_type;
type amit_data_file, file_type, data_file_type;
type protect_s_data_file, file_type, data_file_type;
type protect_f_data_file, file_type, data_file_type;
type sensord_data_file, file_type, data_file_type;
type wmtWifi_device, dev_type;
type sysfs_gpsdrv, dev_type;
type mtk_jpeg_device, dev_type;
type als_ps_device, dev_type;
type MT_pmic_adc_cali_device, dev_type;
type ttyMT_device, dev_type;
type ttyGS_device, dev_type;
type sw_sync_device, dev_type;
type ebc_device, dev_type;
type Vcodec_device, dev_type;
type aed_block_device, dev_type;
type aed_device, dev_type;
type mnld_device, dev_type;
type msensor_device, dev_type;
type agps_device, dev_type;
type mdlog_device, dev_type;
type gsm0710muxd_device, dev_type;
type sysfs_sensor_file, dev_type;
type sysfs_msensord_daemon_file, dev_type;
type gyroscope_device, dev_type;
type gsensor_device, dev_type;
type mnld_socket, dev_type;
type agpsd_socket, file_type;
type fm_device, dev_type;
type ccci_device, dev_type;
type nvram_device, dev_type;
type protect_device, dev_type;
type userdata_device, dev_type;
type cache_device, dev_type;
type devmap_device, dev_type;
type mtk_adc_cali_device, dev_type;
type ccci_monitor_device, dev_type;
type wmtdetect_device, dev_type;
type netdiag_socket, file_type;
type meta_tst_exec, exec_type, file_type;
type netdiag_exec, exec_type, file_type;
type mdlogger_exec, exec_type, file_type;
type mobile_log_d_exec, exec_type, file_type;
type aee_core_forwarder_exec, exec_type, file_type;
type muxreport_exec, exec_type, file_type;
type drvbd_exec, exec_type, file_type;
