allow fsck cache_device:blk_file { rw_file_perms };
allow fsck protect_device:blk_file rw_file_perms;
allow fsck userdata_device:blk_file { rw_file_perms };
