allow mediaserver ccci_device:chr_file ioctl;
allow mediaserver ccci_device:chr_file { read write open };
allow mediaserver ebc_device:chr_file { read write open };
allow mediaserver system_server:unix_stream_socket { read write };
allow mediaserver fm_device:chr_file { read write ioctl open };
allow mediaserver Vcodec_device:chr_file { ioctl open read write };
allow mediaserver modem_prop:property_service set;
allow mediaserver sensorservice_service:service_manager find;

# 2016-6-10 added by ferhung
allow mediaserver mtk_jpeg_device:chr_file { read ioctl open };
allow mediaserver nvram_data_file:file { read getattr open };
allow mediaserver self:capability { sys_nice ipc_lock dac_override };
allow mediaserver sysfs_wake_lock:file { read write open };
