type msensord, domain;
type msensord_exec, exec_type, file_type;

init_daemon_domain(msensord)
allow msensord msensord_exec:file { read open getattr execute execute_no_trans};
allow msensord sysfs_sensor_file:dir search;
allow msensord sysfs_msensord_daemon_file:file { open read write };
allow msensord property_socket:sock_file write;
allow msensord init:unix_stream_socket connectto;
allow msensord ctl_default_prop:property_service set;
